@font-face {
    font-family: 'AeonikPro-Bold';
    src: url('Fonts/AeonikPro-Bold.woff2') format('woff2'),
         url('Fonts/AeonikPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AeonikPro-BoldItalic';
    src: url('Fonts/AeonikPro-BoldItalic.woff2') format('woff2'),
         url('Fonts/AeonikPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'AeonikPro-Light';
    src: url('Fonts/AeonikPro-Light.woff2') format('woff2'),
         url('Fonts/AeonikPro-Light.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'AeonikPro-LightItalic';
    src: url('Fonts/AeonikPro-LightItalic.woff2') format('woff2'),
         url('Fonts/AeonikPro-LightItalic.woff') format('woff');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'AeonikPro-Regular';
    src: url('Fonts/AeonikPro-Regular.woff2') format('woff2'),
         url('Fonts/AeonikPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AeonikPro-RegularItalic';
    src: url('Fonts/AeonikPro-RegularItalic.woff2') format('woff2'),
         url('Fonts/AeonikPro-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

body {
   font-family: 'AeonikPro-Regular', sans-serif;
   display: flex;
   flex-direction: column; /* Stack items vertically */
   align-items: center; /* Center items horizontally */
   justify-content: space-between; /* Distribute items evenly along the cross-axis */
   height: 100vh; /* 100% of the viewport height */
   margin: 0; /* Remove default margin */
   background-image: url('Images/03.jpg');
   background-size: auto 100%; /* Fill the height while maintaining aspect ratio */
   background-position: center; /* Center the background image */
   background-repeat: no-repeat; /* Do not repeat the background image */
   color: #ffffff; /* Set text color to white or a color that contrasts well with the background */
}

.center-container {
   text-align: center; /* Center align the text within the container */
   display: flex;
   flex-direction: column; /* Stack items vertically */
   align-items: center; /* Center items horizontally */
   justify-content: center; /* Center items vertically */
   height: 100vh; /* Use 100% height of the viewport */
}

.logo {
   max-width: 100%; /* Ensure the logo doesn't exceed the container width */
   height: auto; /* Maintain aspect ratio */
   width: 300px; /* Adjust this value to achieve the desired size */
   filter: invert(100%); /* Invert the logo color */
   margin-bottom: 50px; /* Adjust margin as needed */
}

.coming-soon {
   font-size: 30px; /* Adjust the font size as needed */
}
